* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #222;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 0;
    display: flex;
    width: 100%;
    height: 60;
    background: rgba(0, 0, 0, 0.65);
    font-family: 'Roboto', sans-serif;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 .4vw;
    padding: .4vw;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f1f1;
}

.navbar ul li a:hover{
    color: #007cb0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: center; /*centra il contenuto nella sezione*/
    width: 100vw;
    height: 100vh; /*fa in modo che ogni sezione in qualsiasi browser size occupi tutta la schermata*/
    scroll-snap-align: center;
}

section h1 {
    font-size: 3rem;
    text-align: center;
    margin: 1vmin;
    font-family: 'kalam', cursive;

}

section h2 {
    font-size: 2.3rem;
    text-align: center;
    margin: 0.5rem 0rem;
    font-family: 'kalam', cursive;
}

section p {
    font-size: calc(12px + 0.5vw);
    margin: 0.14vh 5vw;
    padding: 0vmin;
    font-family: 'Roboto', sans-serif;
}

section ul{
    font-size: calc(12px + 0.5vw);
    margin: 0vw 10vw;
    padding: 0vmin;
    font-family: 'Roboto', sans-serif;
}

section a:link {
    color: #007cb0;
}

section a:visited{
    color: #00aaff;
}

section#home {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),url(https://source.unsplash.com/wQLAGv4_OYs/1600x900) no-repeat center center/cover; /*Q1p7bh3SHj8*/
}

section#home p {
    align-items: center;
    text-align: center;
}

section#who-i-am {
    background: url(https://source.unsplash.com/pfR18JNEMv8/1600x900) no-repeat center center/cover;
}

section#interests {
    background: url(https://source.unsplash.com/Im7lZjxeLhg/1600x900) no-repeat center center/cover;
}

section#projects {
    background: url(https://source.unsplash.com/qtRF_RxCAo0/1600x900) no-repeat center center/cover; /*_8hGFBxWD0A*/
}

section#contact {
    background: url(https://source.unsplash.com/6SbFGnQTE8s/1600x900) no-repeat center center/cover;
    scroll-snap-align: center;
}

footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    height: 8vh;
    width: 100%;
    padding-top: 0vh;
}

.footer-contnent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

p#designed-by {
    padding: 0vh 0rem;
    font-size: 1vh;
    font-family: 'Pacifico', cursive;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh 0 1vh 0; /*margin 1rem top 1rem bottom*/
}

.socials li{
    margin: 0 2rem; /*margine di 1rem a dx e sx*/
}

.socials a{
    text-decoration: none;
    color: #007cb0;
    padding: 1vh;
}

.socials a i{
    font-size: 2vh;
}

.socials a:hover i{
    color: #fff;
}

@media screen and (max-width: 600px) {

    section h1 {
        font-size: 1.5rem;
        text-align: center;
        margin: 1vmin;
        font-family: 'kalam', cursive;
    
    }
    
    section h2 {
        font-size: 1.5rem;
        text-align: center;
        margin: 0.5rem 0rem;
        font-family: 'kalam', cursive;
    }

    .navbar {
        position: fixed;
        top: 0;
        z-index: 0;
        display: flex;
        width: 100%;
        height: 33px;
        background: rgba(0, 0, 0, 0.65);
        font-family: 'Roboto', sans-serif;
    }
    
    .navbar ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
    }
    
    .navbar ul li {
        margin: 0 .4vw;
        padding: .4vw;
    }
    
    .navbar ul li a {
        font-size: 11px;
        text-decoration: none;
        text-transform: uppercase;
        color: #f1f1f1;
    }

    section p {
        font-size: 12px;
        margin: 0.14vh 5vw;
        padding: 0vmin;
        font-family: 'Roboto', sans-serif;
    }

    section ul{
        font-size: 12px;
        margin: 0vw 10vw;
        padding: 0vmin;
        font-family: 'Roboto', sans-serif;
    }
}
