* {
    margin: 0;
    padding: 0;
}

:root {
    --navbarbg: rgba(0, 0, 0, 0.65);
    --footerbg: rgba(0, 0, 0, 0.35);
    --bodybgcolor: #222;
    --bodylineheight: 1.6em;
    --txtnavhovercolor: #007cb0;
    --txtcolor: #f1f1f1;
    --linkcolor: #007cb0;
    --linkvisited: #00aaff;
    --socialshovercolor: #fff;
    /*take the min from the min of vw, vh or 
    if it is too big take the minumum of default text size*/
    --globaltxtsize: min(min(1.5vh, 1.5vw), 1em);
    --txtpsize: 1.2em;
    --txth1size: 2.7em;
    --txth2size: 2.4em;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 0;
    display: flex;
    width: 100%;
    height: 3em;
    background: var(--navbarbg);
    font-family: Roboto, sans-serif;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin-top: .2em;
    padding: .4em;
    font-size: 1.2em;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--txtcolor);
}

.navbar ul li a:hover {
    color: var(--txtnavhovercolor);
}

html,
body {
    font-family: Roboto, sans-serif;
    font-size: var(--globaltxtsize);
    margin: auto;
}

/*
---------------------
        BODY
---------------------
*/

body {
    background: var(--bodybgcolor);
    color: var(--txtcolor);
    line-height: calc(var(--bodylineheight)*1.2);
    height: 100vh;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: calc(var(--txth1size)*1.2);
    text-align: center;
    margin: 0em 0em .2em;
    font-family: Kalam, cursive;
}

section h2 {
    font-size: calc(var(--txth2size)*1.2);
    text-align: center;
    margin: 0em 0em 0.5em;
    font-family: Kalam, cursive;
}

section p {
    font-size: calc(var(--txtpsize)*1.2);
    font-family: Roboto, sans-serif;
    /*10% mobile*/
    padding: 0em 20%;
}

section#home p {
    align-items: center;
    text-align: center;
}

section ul {
    font-size: calc(var(--txtpsize)*1.2);
    font-family: Roboto, sans-serif;
    /*10% mobile*/
    padding: 0em 20%;
    margin-left: 2em;
}

section a:link {
    color: var(--linkcolor);
}

section a:visited {
    color: var(--linkvisited);
}

.webp section#home {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(../images/background/landing.webp) no-repeat center center/cover;
    /*Q1p7bh3SHj8*/
}

.webp section#who-i-am {
    background: url(../images/background/who-i-am.webp) no-repeat center center/cover;
}

.webp section#interests {
    background: url(../images/background/interests.webp) no-repeat center center/cover;
}

.webp section#projects {
    background: url(../images/background/projects.webp) no-repeat center center/cover;
}

.webp section#contact {
    background: url(../images/background/contact.webp) no-repeat center center/cover;
    scroll-snap-align: center;
}

.no-webp section#home {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(https://source.unsplash.com/wQLAGv4_OYs/1600x900) no-repeat center center/cover;
    /*Q1p7bh3SHj8*/
}

.no-webp section#who-i-am {
    background: url(https://source.unsplash.com/pfR18JNEMv8/1600x900) no-repeat center center/cover;
}

.no-webp section#interests {
    background: url(https://source.unsplash.com/Im7lZjxeLhg/1600x900) no-repeat center center/cover;
}

.no-webp section#projects {
    background: url(https://source.unsplash.com/qtRF_RxCAo0/1600x900) no-repeat center center/cover;
    /*_8hGFBxWD0A*/
}

.no-webp section#contact {
    background: url(https://source.unsplash.com/6SbFGnQTE8s/1600x900) no-repeat center center/cover;
    scroll-snap-align: center;
}

/*
----------------------
        FOOTER
----------------------
*/

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    background: var(--footerbg);
    height: 5em;
    width: 100%;
}

.footer-contnent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}

.socials li {
    margin: 0 1em;
}

.socials a {
    text-decoration: none;
    color: var(--linkcolor);
    font-size: var(--txtpsize);
}

.socials a:hover {
    color: var(--socialshovercolor);
}

p#designed-by {
    font-size: 0.7em;
    font-family: Pacifico, cursive;
    margin-top: 0.5em;
}

/*
----------------------
        MOBILE
----------------------
*/

@media screen and (max-width: 600px) {

    .navbar {
        height: 4em;
    }

    .navbar ul li {
        margin-top: .2em;
        padding: .4em;
        font-size: 2em;
    }

    /*
    ---------------------
            BODY
    ---------------------
    */

    body {
        line-height: calc(var(--bodylineheight)*1.4);
    }

    section h1 {
        font-size: calc(var(--txth1size)*1.1);
    }

    section h2 {
        font-size: calc(var(--txth2size)*1.2);
    }

    section p {
        font-size: calc(var(--txtpsize)*1.7);
        /*10% mobile*/
        padding: 0em 10%;
    }

    section ul {
        font-size: calc(var(--txtpsize)*1.7);
        /*10% mobile*/
        padding: 0em 10%;
        margin-left: 2em;
    }

    /*
    ----------------------
            FOOTER
    ----------------------
    */

    footer {
        height: 6em;
        width: 100%;
    }

    .socials {
        margin-top: 1em;
    }

    .socials li {
        margin: 0 1em;
    }

    .socials a {
        font-size: calc(var(--txtpsize)*1.6);
    }

    p#designed-by {
        font-size: 1.1em;
        margin-top: 0.2em;
    }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
    .navbar {
        height: 4em;
    }

    .navbar ul li {
        margin-top: .2em;
        padding: .4em;
        font-size: 2em;
    }

    /*
    ---------------------
            BODY
    ---------------------
    */

    body {
        line-height: calc(var(--bodylineheight)*1.4);
    }

    section h1 {
        font-size: calc(var(--txth1size)*1.1);
    }

    section h2 {
        font-size: calc(var(--txth2size)*1.2);
    }

    section p {
        font-size: calc(var(--txtpsize)*1.7);
        /*10% mobile*/
        padding: 0em 10%;
    }

    section ul {
        font-size: calc(var(--txtpsize)*1.7);
        /*10% mobile*/
        padding: 0em 10%;
        margin-left: 2em;
    }

    /*
    ----------------------
            FOOTER
    ----------------------
    */

    footer {
        height: 6em;
        width: 100%;
    }

    .socials {
        margin-top: 1em;
    }

    .socials li {
        margin: 0 1em;
    }

    .socials a {
        font-size: calc(var(--txtpsize)*1.6);
    }

    p#designed-by {
        font-size: 1.1em;
        margin-top: 0em;
    }
}
